<p>winning<p>
<p>score_x: <%#= @result[0] %></p>
<p>score_y: <%#= @result[1] %></p>
<p>angle: <%= @angle %></p>
<p><%= t('category' + @category.to_s) %></p>
<div class= "circle_user" style="background:
    linear-gradient(36deg, #272b66 42.34%, yellow 42.34%) 0 0;">
</div>
