.scene-container {
  position: absolute;
  top: 0;
  left: 0;
}

.scene {
  position: relative;
  width: 830px;
  height: 630px;

}

.point {
  width: 52px;
  height: 70px;
  position: absolute;
}

.ideas {
  top: 357px;
  left: 315px;
}

.business{
  top: 460px;
  left: 250px;
}

.light {
  top: 365px;
  left: 120px;
}

.gear {
  top: 275px;
  left: 300px;
}

.setting{
  top: 335px;
  left: 500px;
}

.magnifier{
  top: 467px;
  left: 520px;
}

.cup{
  top: 480px;
  left: 490px;
}

.chart{
  top: 490px;
  left: 470px;
}

.building{
  top: 250px;
  left: 480px;
}

.money{
  top: 600px;
  left: 290px;
}

.char{
  top: 100px;
  left: 255px;
}

.a1to2{
  top: 400px;
  left: 305px;
}

.a1to3{
  top: 435px;
  left: 155px;
}
