// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.personality{
  padding-top:20px;
  width:140px
}

.img-responsive{
  margin:0 auto;
}

.perso{
  background-color: #f9f9f9 ;
}

// body{
//   background-color: #d70206;
// }

// .pad{
//   background-color:red;
// }
