@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.fullPage";
@import "magnific-popup";
@import "vegas.min";
@import "color";
@import "style";
@import "_my-chartist-settings.scss";
@import "bower_components/chartist/dist/scss/chartist.scss";
