@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.fullPage";
@import "magnific-popup";
@import "vegas.min";
@import "color";
@import "style";
@import "animation_cheatsheet";
@import "answers.scss";
